@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
img,
li {
  margin: 0;
  padding: 0;
}

:root {
  --poppins: "Poppins", sans-serif;
  --primary_color: #1c1e53;
  --secondary_color: #282938;
  --white_color: #ffffff;
  --button_color: #fcd980;
  --section_banner_color: #f4f6fc;
}
/* =================================================
            Navbar css start
===================================================*/
#navbar_part {
  background: #1c1e53;
  padding: 32px 0;
}
#navbar_part .custom_navbar a {
  color: var(--white_color);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  margin-right: 26px;
}

#navbar_part .btn {
  border: none;
  background-color: transparent;
  color: var(--white_color);

  padding: 16px 45px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.37);
}

#navbar_part .banner_left h1 {
  color: var(--white_color);
  font-family: var(--poppins);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}

#navbar_part .banner_left p {
  color: var(--white_color);
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}

#navbar_part .view_work a {
  padding: 15px 56px;
  border-radius: 41px;
  display: inline-block;
  background-color: var(--button_color);
}

#navbar_part .view_pricing a {
  line-height: 0;
}


/* =================================================
        Navbar css End
===================================================*/

/* =================================================

===================================================*/

/* =================================================

===================================================*/
